head
  link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web")
  link(rel="stylesheet" href="styles/main.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
body
  div(class="container")
    h1(class="text-center") New URL:
    p(class="text-center")= url
      