/************************
GENERAL
************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
}

p, input {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #3399ff;
}

input {
  float: left;
}

input[type="submit"] {
  background-color: #ff9966;
  border: none;
  height: 30px;
  width: 20%;
}

input[type="text"] {
  height: 29.8px;
  width: 80%;
}


/************************
HEADER
************************/

/************************
HOME PAGE
************************/

.jumbotron {
  background-color: #003366 !important;
}

form {
  width: 80%;
  margin: 0 auto 30px;
}
